* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


body {
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a7a3c541e25c15f0049d2222aa1d538&auto=format&fit=crop&w=1352&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}

header {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#main {
    color: white;
    font-size: 30px;
    left: 100px;
    top: 40px;    
}


.pretitle {
    color: orange;
    text-transform: uppercase;
}

.title {
    color: white; 
    font-size: 60px;   
}


#nav {
    list-style-type: none;
    margin-right: 70px;
    padding: 0;
    font-family: Nunito;
}

button {
    padding: 8px 17px;
    background-color: orange;
    border-radius: 3%;
    color: white;
    font-size: 15px;
    border: 1px orange solid;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

li {
    float: right;
    padding-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content {
    padding-top: 80px;
    padding-left: 66px;
}