* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


body {
    box-sizing: border-box;
    /* background-image: url("https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a7a3c541e25c15f0049d2222aa1d538&auto=format&fit=crop&w=1352&q=80"); */
    background-image: linear-gradient(
        to right,
     rgba(0, 0, 0, 0.9),
     rgba(0, 0, 0, .2)),
     

    /* url("https://images.unsplash.com/photo-1457979406492-d1e6b97f3f55?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58a033dff6562efa4bf26e5463820589&auto=format&fit=crop&w=3150&q=80"); */
    
    /* url("https://images.unsplash.com/photo-1457364983758-510f8afa9f5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b1038878e04c9b1c8623a973d8b67c6&auto=format&fit=crop&w=2250&q=80"); */
    url("https://images.unsplash.com/photo-1447433909565-04bfc496fe73?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4f7c72b822f181559576e4e663aa0e1&auto=format&fit=crop&w=1952&q=80");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    /* filter: grayscale(100%); */
}

header {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#main {
    color: white;
    font-size: 30px;
    left: 100px;
    top: 40px;    
}


.pretitle {
    color: orange;
    text-transform: uppercase;
}

.title {
    color: white; 
    font-size: 60px;   
}


#nav {
    list-style-type: none;
    margin-right: 70px;
    padding: 0;
    font-family: Nunito;

}

button {
    padding: 8px 17px;
    background-color: orange;
    border-radius: 3%;
    color: white;
    font-size: 15px;
    border: 1px orange solid;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

li {
    float: right;
    padding-left: 20px;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.726);
}

.content {
    padding-top: 13%;
    padding-left: 66px;
}

.video {
    float: left;
}

.video2 {
    float:left;
}

.vid {
    color: rgba(255, 255, 255, 0.726);
    margin-top: 23px;
    margin-left: 10px;
}

#play {
    font-size: 64px;
}

.social {
    float: right;
    margin-right: 10%;
    margin-top: 21%;        
}

.s {
    margin-right:15px;
    padding: 3px;
    border: 2px solid #494f50;
    border-radius: 50%;
    background-color: #494f50;
}

ion-icon {
    font-size: 22px;
    color: white;
}

